html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textHeader {
  font-size: 17px;
  letter-spacing: 0.4em;
  color: #d74346;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}
select{
  height: 38px;
  border: 1px solid #ced4d9;
  border-radius: 4px;
  width: 100%;
}